#skwrapper {
    display: inline;
}
.score {
    font-size: 6em;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 40px;
    border-radius:8px;
}
.decrement {
    font-size: 1.2em;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    /* line-height: .5em; */
}
.service {
    font-size: 1.2em;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.team_label {
    font-size: 1.8em;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
#winner {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    background-color: green;
    color: blue;
}
.sideChangeAlert {
    color: white;
    background-color: red;
}

#tmA {
    background-color: blue;
    width: 100%;
}

#tmB {
    background-color: red;
    width: 100%;
}
#c1_wrapper {
    width: 50%;
}

#c2_wrapper {
    width: 50%;
}

.short {
    line-height: 75%;
}
/*

.short:hover {
    background: #fff ;
    background-color: #fff ;
}

a.button-full:hover, a.button-full:focus, a.button-full:active, div.button-full a:hover, div.button-full a:focus, div.button-full a:active, a.button-full.button-light:hover, a.button-full.button-light:focus, a.button-full.button-light:active, div.button-full a.button-light:hover, div.button-full a.button-light:focus, div.button-full a.button-light:active {
    background-color: #fff;
    background: #fff ;
    background-color: #fff ;
}
a.button-full:hover, a.button-full:focus, a.button-full:active, div.button-full a:hover, div.button-full a:focus, div.button-full a:active, a.button-full.button-light:hover, a.button-full.button-light:focus, a.button-full.button-light:active, div.button-full a.button-light:hover, div.button-full a.button-light:focus, div.button-full a.button-light:active {
    background-color: #fff;
    background: #fff ;
    background-color: #fff ;
}
*/
#switch_sides {
    /* width: 100%; */
    /* font-size:1.2em; */
}
#switch_sides:hover {
    /* width: 100%; */
    /* font-size:1.2em; */
    background-color: #fff;
    background: #fff ;
    background-color: #fff ;
}
#toggle_serve {
    /* width: 100%;
    font-size:1.2em;
    */
}
#scoreType {
    /*
    width: 100%;
    font-size:1.2em;
    */
}
.controls {
    display: inline;
}
.section_style {
    margin: 8px;
    border-radius: 8px;
    border: 5px solid black;
}
.clear {
    clear: both;
}
.rfloat {
    float: right;
}
.lfloat {
    float: left;
}
.hide {
    display: none;
}

