.Practices {
    background-color: #ccf;
}
.Games {
    background-color: #cfc;
}
.Tournaments {
    background-color: #fcf;
}
.unknown {
    background-color: red;
}
.credits {
    text-align: center;
}
.r {
    color: red;
}
.g {
    color: green;
}
.b {
    color: blue;
}
.author {
   font-size: 85%;
}
#device_location {
    background-color: #aaa;
}
#select-schedule-display-container {
    /* width: 100%;  */
    /* border-style: none; */
}
#select-schedule-display {
    /* display: inline;  */
    width: 30%;  
}
table.isumm {
    width: 100%;
    /*
    border-width: 5px;
    border-color: black;
    */
}
tr.isumm {
    /*  
    width: 100%;
    */
}
td.isummtime {
    padding-right: 10px;
    /*
    margin-right: 20px;
    */
    text-align: right;
}
td.isummdesc {
    padding-left: 10px;
}
.subhead {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px;
    color: #00a;
}
