.practice {
    background-color: #ccf;
}
.games {
    background-color: #cfc;
}
.tournament {
    background-color: #fcf;
}
.unknown {
    background-color: red;
}
.credits {
    text-align: center;
}
.author {
   font-size: 85%;
}
#device_location {
    background-color: #aaa;
}
#select-schedule-display {
    width: 100%;  // make select stretch across 
}
